@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.caixa-maior {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 25px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 60px);
}

.botao{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-buscar{
    width: 20px;
}

.caixa-media {
    margin-top: 20px;
}

.cidade {
    color: #ffffff;
    font-size: 22px;
}

.temp {
    color: #ffffff;
    font-size: 50px;
    margin-top: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
}



